<a href="https://colab.research.google.com/github/BetterAIworld-Vishnu/IPL-Data-Analysis-using-numpy-and-Matplot-lib/blob/main/Week1_Python%2BLangchain_Mastery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1 + 1

2

# H1 - Title

# H1 - Title

## H2 - Section

### H3 - Subsection

#### H4 - Smaller heading

# Text Formating

**Hello welcome to this session**

*Italic*

~~Strikethrough~~

# Lists

- Sales in Q1 is decreased by 2%
- Sales in Q2 was good

1. Step One
2. Step Two

In [ ]:
print("Hello World")

Hello World

`print("Hello World")` - This is a sample program

## Different Roles in Data Field:

### **Data Engineer - The Data Plumber**

- Builds and maintains data pipelines Builds and maintains data <br> pipelines Builds and maintains data pipelines Builds and maintains data pipelines Builds and maintains data pipelines
- Tools: SQL, Python, Spark
- Works with: Data Scientist, ML Engineers

- Run Cell -> shift + enter
- Convert to a text cell -> cntl + M then M
- Convert to a code cell -> Cntl + M then Y
- Move the cell up -> Cntl + M then K
- Move the cell down -> Cntl + M then J
- **Delete Cell** -> Cntl + M then D

- Insert a Code cell Below -> cntl + M, B
- Insert a code cell above -> cntl + M, A

In [ ]:
print("Hello World")

Hello World

# Variables, Data Types, Operators

In [ ]:
name = "Sarvesh"

age = 40

salary = 125000.50

is_active = True

In [ ]:
print(f"Name: {name}, Age: {age}, Salary: {salary}, Active: {is_active}")

Name: Sarvesh, Age: 40, Salary: 125000.5, Active: True

In [ ]:
age_str = str(age)

In [ ]:
type(age)

int

In [ ]:
type(age_str)

str

In [ ]:
salary_int = int(salary)

In [ ]:
salary_int

125000

In [ ]:
print("Converted:", age_str, type(age_str), salary_int, type(salary_int))

Converted: 40 <class 'str'> 125000 <class 'int'>

## Arithmetic Operators - Math Operations

In [ ]:
a = 10
b = 3

print("Addition:", a+b)
print("Division:", a/b)
print("Floor Division:", a//b)
print("Multiplication:", a*b)
print("Subtraction:", a-b)
print("Modulus:", a%b)
print("Exponent:", a**b)
print("Power:", a**b)

Addition: 13
Division: 3.3333333333333335
Floor Division: 3
Multiplication: 30
Subtraction: 7
Modulus: 1
Exponent: 1000
Power: 1000

## Comparision(Relational) Operators

In [ ]:
== - Equal to

In [ ]:
5 == 5

True

In [ ]:
4 == 5

False

In [ ]:
5 != 5

False